  * {
    color: rgba(255, 255, 255, 87);
  }

  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }

  body {
    background-color: #121212;
    margin: 0;
  }

  :root {
    --bar-width: 30px;
    --bar-height: 2px;
    --hamburger-gap: 8px;
    --foreground: white;
    --background: rgb(12, 12, 12);
    --hamburger-margin: 8px;
    --animation-timing: 200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
  }

  .hamburger-menu {
    --x-width: calc(var(--hamburger-height) * 1.41421356237);
    display: flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: max-content;
    top: var(--hamburger-margin);
    left: var(--hamburger-margin);
    z-index: 4;
  }

  .hamburger-menu:has(input:focus-visible)::before,
  .hamburger-menu:has(input:focus-visible)::after,
  .hamburger-menu input:focus-visible {
    border: 1px solid var(--background);
    box-shadow: 0 0 0 1px var(--foreground);
  }

  .hamburger-menu::before,
  .hamburger-menu::after,
  .hamburger-menu input {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--foreground);
    transform-origin: left center;
    transition: opacity var(--animation-timing), width var(--animation-timing),
      rotate var(--animation-timing), translate var(--animation-timing);
  }

  .hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
  }

  .hamburger-menu:has(input:checked)::before {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2);
  }

  .hamburger-menu:has(input:checked)::after {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);
  }

  .hamburger-menu input:checked {
    opacity: 0;
    width: 0;
  }

  .sidebar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    font-family: 'Akira Expanded';
    transition: transform var(--animation-timing);
    transform: translateY(-100%);
    background-color: var(--background);
    color: var(--foreground);
    z-index: 3;
  }

  .hamburger-menu:has(input:checked)+.sidebar {
    transform: translateY(0);
  }

  @font-face {
    font-family: "Akira Expanded";
    src: url("./fonts/Akira_Expanded.otf") format('otf');
    src: url("./fonts/Akira_Expanded.woff2") format('woff2');
  }

  #nome {
    font-family: 'Akira Expanded', sans-serif;
    font-size: 12vw;
    margin: 0;
  }

  .testi {
    font-family: 'Open Sans';
    font-weight: 400;
  }

  .button_text {
    font-family: 'Akira Expanded', sans-serif;
    font-size: 4vw;
    border: 3px solid #7454c9;
    padding: 10px;
    display: inline-block;
    margin: 0;
  }

  .menu-items {
    padding: 10px;
    font-size: 27px;
    text-align: center;
    align-items: center;
    display: block;
    border: 3px solid #7454c9;
  }

  #sottotitolo {
    font-family: 'Lexend Exa';
    color: #a1a1a1;
    font-size: 3.5vw;
    margin: 0;
  }

  #home {
    gap: 10px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-left: 10vw;
    height: 90vh;
  }

  .menu {
    gap: 10%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
  }

  a {
    text-decoration: none;
    margin: 0;
    display: inline;
    box-sizing: content-box;
  }

  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #262626;
    height: 200px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 35px;
    display: flex;
    justify-content: space-around;
  }

  .footer_name {
    font-family: 'Akira Expanded';

    font-size: 20px;
    margin: 0;
    padding-bottom: 20px;
  }

  .footer_text {
    font-family: 'Open Sans';
    font-size: 16px;
    vertical-align: middle;
    margin: 0;
    padding-left: 12px;
  }

  .socials {
    display: flex;
    flex-direction: column;
  }

  .socials div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 12px;
  }

  .copyright {
    font-family: 'Open Sans';
    font-size: 10px;
    color: rgb(126, 126, 126);
    margin-top: 20px;
  }

  .footer_pages p {
    margin-bottom: 12px;
  }

  .colonna2 .footer_text {
    padding: 0;
  }

  .page {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
  }

  .page_title {
    font-family: 'Akira Expanded';
    font-size: 26px;
  }

  .page img {
    border-radius: 10px;
    width: 90vw;
    height: 200px;
    object-fit: cover;
  }

  .header_home {
    padding-left: 1rem;
    padding-right: 1rem;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    background-color: rgba(0, 0, 0, 0);
  }

  .header_mobile {
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #262626;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
  }

  .card {
    width: 100%;
    height: 245px;
    background-color: #0c0e1b;
    border-radius: 10px;
    position: relative;
    object-fit: cover;
  }

  .card img {
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 172px;
  }

  .card_title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin: auto;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .card_subtitle {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #809fb8;
    margin: auto;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .card_text {
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
  }

  .lavori {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
    margin-bottom: 50px;
  }




  .header_desk {
    height: 150px;
    background: linear-gradient(180deg, #2B2145 0%, rgba(10, 10, 10, 0) 100%);
    padding-left: 3rem;
    padding-right: 1rem;
    font-family: 'Akira Expanded', sans-serif;
    font-size: 27px;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: end;

  }

  .header_desk .menu-items {
    margin-left: 30px;
    margin-right: 30px;
  }

  .desk_head_buttons {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
  }

  .header_desk .logo_container .logo_desk img {
    width: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
  }

  .header_desk {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .images img {
    width: 100%;
    height: auto;
    margin-bottom: 3%;
  }

  .grid-images {
    width: 100%;
    display: grid;
    gap: 3%;
    margin-bottom: 10%;
    object-fit: cover;
  }

  .grid-images img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .row2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3%;
  }

  .row3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3%;
  }

.glow{
  width: 100vw;
  height: 100vh;
}
#animated-glow{
  position: absolute;
  top: 50%;
  left: 10%;
  filter: blur(100px);
  animation-name: animated-glow;
  animation: animated-glow 7s infinite alternate;
  z-index: -1;
}

@keyframes animated-glow {
  0%{
    scale: 100%;
  }
  100%{
    scale: 230%;
    left: 25%;
  }
  }
#bg-glow{
  position: fixed;
  filter: blur(150px);
  width: 100vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.about{
  display: flex;
  flex-direction: column;
}
.contacts-list{
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 8vh;
}
.contacts{
  font-family: 'Open Sans',sans-serif;
  font-weight: 600;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 10px;
  justify-content: center;
  align-items: center;
}
.contacts img{
  width: 30px;
  height: 30px;
}
.cont-bg{
  background-color: rgb(136,136,136);
  border-radius: 10px;
}

  @media screen and (min-width:769px) {
    .card {
      width: 100%;
      height: 245px;
    }

    .lavori {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .header_home {
      display: none;
    }

    .header_mobile {
      display: none;
    }

    .images {
      display: none;
    }
    #nome{
      font-size: 90px;
    }
    #button_text{
      font-size: 30px;
    }
    #sottotitolo{
      font-size: 26px;
    }
    .about{
      margin: 16px 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .about *{
      margin: 0;
    }
    .about img{
      width: 35vw;
      height: 75%;
    }
    .contacts-list{
      margin-top: 50px;
      margin-bottom: 100px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 10vh;
    }
    #home{
      height: 85vh;
    }
  }

  @media screen and (min-width:992px) {
    .lavori{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  @media screen and (max-width:768px) {
    .logo {
      position: relative;
      left: 50%;
      margin-left: -60px;
      display: inline;
    }

    .header_desk {
      display: none;
    }
    .grid-images{
      display: none;
    }
    #animated-glow{
      top: 35%;
    }
    @keyframes animated-glow {
      0%{
        scale: 20%;
      }
      100%{
        scale: 100%;
        left: 25%;
      }
      }
  }