* {
  color: rgba(255, 255, 255, 87);
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  background-color: #121212;
  margin: 0;
  width: 100vw;
  height: 100vh;
}
:root {
  --bar-width: 30px;
  --bar-height: 2px;
  --hamburger-gap: 8px;
  --foreground: white;
  --background: rgb(12,12,12);
  --hamburger-margin: 8px;
  --animation-timing: 200ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}
.hamburger-menu {
  --x-width: calc(var(--hamburger-height) * 1.41421356237);
  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  width: max-content;
  top: var(--hamburger-margin);
  left: var(--hamburger-margin);
  z-index: 4;
}
.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu input:focus-visible {
  border: 1px solid var(--background);
  box-shadow: 0 0 0 1px var(--foreground);
}
.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--foreground);
  transform-origin: left center;
  transition: opacity var(--animation-timing), width var(--animation-timing),
    rotate var(--animation-timing), translate var(--animation-timing);
}
.hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}
.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
}
.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
}
.hamburger-menu input:checked {
  opacity: 0;
  width: 0;
}
.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  font-family: 'Akira Expanded';
  transition: transform var(--animation-timing);
  transform: translateY(-100%);
  background-color: var(--background);
  color: var(--foreground);
  z-index: 3;
}
.hamburger-menu:has(input:checked)+.sidebar {
  transform: translateY(0);
}
@font-face {
  font-family: "Akira Expanded";
  src: url("./fonts/Akira_Expanded.otf") format('otf');
  src: url("./fonts/Akira_Expanded.woff2") format('woff2');
}
#nome {
  font-family: 'Akira Expanded', sans-serif;
  font-size: 48px;
  margin: 0;
}
.testi {
  font-family: 'Open Sans';
  font-weight: 400;
}
#button_text {
  font-family: 'Akira Expanded',sans-serif;
  font-size: 16px;
  border: 3px solid #7454c9;
  padding: 10px;
  display: inline-block;
  margin: 0;
}
.menu-items {
  padding: 10px;
  font-size: 27px;
  text-align: center;
  align-items: center;
  display: block;
  border: 3px solid #7454c9;
}
#sottotitolo {
  font-family: 'Lexend Exa';
  color: #a1a1a1;
  font-size: 15px;
  margin: 0;
}
#home {
  gap: 10px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  height: 100vh;
}
.menu {
  gap: 10%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}
a {
  text-decoration: none;
}
.footer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #262626;
  height: 200px;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 35px;
  display: flex;
  justify-content: space-around;
}
.footer_name{
  font-family: 'Akira Expanded';

  font-size: 20px;
  margin: 0;
  padding-bottom: 20px;
}
.footer_text{
  font-family: 'Open Sans';
  font-size: 16px;
  vertical-align: middle;
  margin: 0;
  padding-left: 12px;
}
.socials{
  display: flex;
  flex-direction: column;
}
.socials div{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 12px;
}
.copyright{
  font-family: 'Open Sans';
  font-size: 10px;
  color: rgb(126,126,126);
  margin-top: 20px;
}
.footer_pages p{
  margin-bottom: 12px;
}
.colonna2 .footer_text{
  padding: 0;
}
.page{
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  display: flex;
  flex-direction: column;
}
.page_title{
  font-family: 'Akira Expanded';
  font-size: 26px;
}
.page img{
  border-radius: 10px;
  width: 90vw;
  height: 200px;
  object-fit: cover;
}
.header_home{
  padding-left: 1rem;
  padding-right: 1rem;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  background-color: rgba(0, 0, 0, 0);
}
header{
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #262626;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}
@media screen and (max-width:992px) {
  .logo {
      position: relative;
      left: 50%;
      margin-left: -60px;
      display: inline;
  }
}
.card{
  width: 100%;
  height: 245px;
  background-color: #0C0B15;
  border-radius: 10px;
  position: relative;
  object-fit: cover;
}
.card img{
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 172px;
}
.card_title{
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  margin: auto;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card_subtitle{
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #809fb8;
  margin: auto;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card_text{
  padding-left: 20px;
  padding-top: 10px;
  padding-right: 20px;
}
.lavori{
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.lavori > * {
  margin-bottom: 50px;
}
@media screen and (min-width:768px) {
  .card{
    width: 280px;
    height: 245px;
  }
  .lavori{
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .lavori > * {
    flex-basis: calc(50% - 50px);
    margin-right: 50px;
    margin-bottom: 50px;
  }
}
@media screen and (min-width:992px){
  .lavori{
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .lavori > * {
    flex-basis: calc(33,33% - 50px);
    margin-right: 50px;
    margin-bottom: 50px;
  }
}